<!doctype html>
<html lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{% block keywords %}{% endblock %}"/>
    <meta charset="UTF-8">

     <!-- Bootstrap -->
<!--     <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/pysymo.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
 -->
    <title>Photo Archive Sorter - {% block title %}{% endblock %}</title>
</head>
<body>

<!-- main content container -->
<!-- <div class="container"> -->
    {% block body %}
    {% endblock %}
<!-- </div> -->

</body>
</html>
